

.card-container
  border: 1px solid $medium-grey
  border-radius: $radius
  box-shadow: $shadow
  div:first-of-type
    background: $light-grey
    .id
      font-weight: 300
      background-color: $more-grey 
    img
      width: 100px
      margin: auto
      display: block
  div:last-of-type
    margin: $small-padding
    .type
      color: $dark-grey
      border-radius: $radius
      border: 1px solid $medium-grey

  background: white