.card-container
  background: white
  border: 1px solid $medium-grey
  border-radius: $radius
  box-shadow: $shadow
  min-height: 240px
  min-width: 180px
  margin: auto
  .image-container
    background: $light-grey
    position: relative
    text-align: center
    .id
      font-weight: 300
      background-color: $more-grey 
      position: absolute
      bottom: 0
      left: 0
    img
      max-width: 100px
      padding: $small-padding
  .text-container
    margin: $small-padding
    .type
      color: $dark-grey
      border-radius: $radius
      margin: $tiny-padding
      border: 1px solid $medium-grey
    .evolved
      border-left: $tiny-padding solid $dark-grey
      margin-top: $small-padding
      padding-left: $tiny-padding
      p:last-child
        font-size: $large-font