@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;500&display=swap");
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
.card-container {
  background: white;
  border: 1px solid #CFCFCA;
  border-radius: 3px;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
  min-height: 240px;
  min-width: 180px;
  margin: auto;
}
.card-container .image-container {
  background: #DFDFDF;
  position: relative;
  text-align: center;
}
.card-container .image-container .id {
  font-weight: 300;
  background-color: #D0CDC9;
  position: absolute;
  bottom: 0;
  left: 0;
}
.card-container .image-container img {
  max-width: 100px;
  padding: 10px;
}
.card-container .text-container {
  margin: 10px;
}
.card-container .text-container .type {
  color: #636363;
  border-radius: 3px;
  margin: 3px;
  border: 1px solid #CFCFCA;
}
.card-container .text-container .evolved {
  border-left: 3px solid #636363;
  margin-top: 10px;
  padding-left: 3px;
}
.card-container .text-container .evolved p:last-child {
  font-size: 20px;
}

.card-container:hover {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -1px) rotate(-1deg);
  }
  20% {
    transform: translate(-1px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 1px) rotate(-1deg);
  }
  60% {
    transform: translate(-1px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(1px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -1px) rotate(-1deg);
  }
}
.top-overlay .triangle-left {
  width: 0;
  height: 0;
  border: 150px solid transparent;
  border-top: 150px solid black;
  border-bottom: 0;
  position: fixed;
  margin-left: -150px;
  margin-top: -100px;
}
.top-overlay .triangle-right {
  width: 0;
  height: 0;
  border: 150px solid transparent;
  border-top: 150px solid black;
  border-bottom: 0;
  position: fixed;
  margin-left: calc(100% - 150px);
  margin-top: -100px;
}

.bottom-overlay {
  justify-content: space-around;
}
.bottom-overlay .circle-left {
  height: 200px;
  width: 200px;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  margin-left: -100px;
  margin-bottom: -100px;
}
.bottom-overlay .circle-right {
  height: 200px;
  width: 200px;
  background-color: red;
  border-radius: 50%;
  position: fixed;
  bottom: 0;
  margin-left: calc(100% - 100px);
  margin-bottom: -100px;
}

.pokemon-detail {
  margin: 20px 15% 0 15%;
}
.pokemon-detail .home-back {
  text-align: center;
  width: 100%;
  margin: 20px 0 0 0;
}

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #FFE62C;
  font-family: "Ubuntu", sans-serif;
}

main {
  margin: 0 15% 0 15%;
}

p {
  font-weight: 300;
  font-size: 12px;
  color: #000000;
}

span {
  font-weight: 300;
  font-size: 12px;
  color: #000000;
}

h1 {
  font-weight: 500;
  font-size: 20px;
  color: #000000;
}

a {
  text-decoration: none;
}

.filter {
  background: #FFFCEC;
  margin: 20px 0 20px 0;
}
.filter input {
  width: 100%;
  text-align: center;
  padding: 10px 0 10px 0;
  border: 0;
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-size: 20px;
  border-radius: 3px;
  box-shadow: 0px 2px 8px 0px rgba(99, 99, 99, 0.2);
}
.filter input::placeholder {
  color: #CFCFCA;
}

.pokemon-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

@media (min-width: 800px) {
  .pokemon-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
